NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=

# Для production / Vercel используйте `supabase`.
NEXT_PUBLIC_DATA_SOURCE=supabase
